{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block responsive %}
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock responsive %}
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title  -->
        <title>{% block title %}{% endblock title %}</title>

        <!-- Favicon  -->
        <link rel="icon" href="{% static "static_common/favicon/favicon.ico" %}">

        <!-- Core Style CSS -->
        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "static_common/css/core-style.css" %}{% endblock stylesheet %}">
        <link rel="stylesheet" media="all" href="{% static 'progressiveimagefield/css/pif.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static "static_common/css/style.css" %}">
        {% block extrastyle %}{% endblock extrastyle %}
        {% block extrahead %}{% endblock extrahead %}
    </head>
    {% load i18n %}
    <body>
        {% block content %}
            {% block stickytop %}
                {% include 'shared/main-mobile-nav.html' %}
                <!-- Header Area Start -->
                <header class="custom-container">
                    {% include 'shared/main-menu.html' %}
                    {% include 'shared/basic/search.html' %}
                </header>
                <!-- Header Area End -->
            {% endblock stickytop %}
        {% endblock content %}
        {% block newsletter_subscription %}
        <!-- ##### Newsletter Area Start ##### -->
        <section class="newsletter-area section-padding-100-0">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Newsletter Text -->
                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="newsletter-text mb-100">
                            <h2>Subscribe for a <span>25% Discount</span></h2>
                            <p>Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate consectetur. Donec auctor interdum purus, ac finibus massa bibendum nec.</p>
                        </div>
                    </div>
                    <!-- Newsletter Form -->
                    <div class="col-12 col-lg-6 col-xl-5">
                        <div class="newsletter-form mb-100">
                            <form action="#" method="post">
                                <input type="email" name="email" class="nl-email" placeholder="Your E-mail">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Newsletter Area End ##### -->
        {% endblock newsletter_subscription %}

        {% block footer %}
        <!-- ##### Footer Area Start ##### -->
        <footer class="footer_area clearfix">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Single Widget Area -->
                    <div class="col-12 col-lg-4">
                        <div class="single_widget_area">
                            <!-- Copywrite Text -->
                            <p class="copywrite">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.</p>
                        </div>
                    </div>
                    <!-- Single Widget Area -->
                    <div class="col-12 col-lg-8">
                        <div class="single_widget_area">
                            <!-- Footer Menu -->
                            {% include 'shared/footer-menu.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ##### Footer Area End ##### -->
        {% endblock footer %}
        {% block javascript %}
            <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
            <script type="text/javascript" src="{% static "static_common/js/vendor/jquery/jquery-2.2.4.min.js" %}"></script>
            <!-- Popper js -->
            <script type="text/javascript" src="{% static "static_common/js/vendor/proper/popper.min.js" %}"></script>
            <!-- Bootstrap js -->
            <script type="text/javascript" src="{% static "static_common/js/vendor/boootstrap/bootstrap.min.js" %}"></script>
            <!-- Plugins js -->
            <script type="text/javascript" src="{% static "static_common/js/plugins.js" %}"></script>
            <!-- Active js -->
            <script type="text/javascript" src="{% static "static_common/js/active.js" %}"></script>
            <!-- ScrollMenuEffect js -->
            <script type="text/javascript" src="{% static "static_common/js/scroll-menu-effect.js" %}"></script>
            <!-- Progressive image field -->
            <script src="{% static 'progressiveimagefield/js/pif.js' %}"></script>
        {% endblock javascript %}
    </body>
</html>
