{% load i18n static progressive_tags %}
<div class="single-product-wrapper">
    <!-- Product Image -->
    <div class="product-img">
        {% render_progressive_field object.cover_photo object.cover_photo_caption %}
        <!-- Hover Thumb -->
        <img class="hover-img" src="{{MEDIA_URL}}{{object.cover_photo2}}" alt="{{object.cover_photo_caption2}}">
    </div>

    <!-- Product Description -->
    <div class="product-description d-flex align-items-center justify-content-between">
        <!-- Product Meta Data -->
        <div class="product-meta-data">
            <div class="line"></div>
            <p class="product-price">{{object.price}}</p>
            <a href="{{ object.get_absolute_url }}">
                <h6>{{object.name}}</h6>
            </a>
        </div>
        <!-- Ratings & Cart -->
        <div class="ratings-cart text-right">
            <div class="ratings">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <div class="cart">
                <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="{% static "static_common/img/core-img/cart.png" %}" alt=""></a>
            </div>
        </div>
    </div>
</div>