<div class="row">
    <div class="col-12">
        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
            {% if page_obj.has_previous or page_obj.has_next %}
                <!-- Total Products -->
                <div class="total-products">
                    <p>Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count}}</p>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Pagination -->
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end">

                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?q={{ query }}&amp;page=1" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo; </span>
                                        <span class="sr-only">First</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for page_num in page_obj.paginator.page_range %}
                                {% if page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %}
                                    <li class="page-item {% if page_num == page_obj.number %} {{ "active" }} {% endif %}"><a class="page-link" href="?q={{ query }}&amp;page={{ page_num }}"> {{ page_num }}.</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?q={{ query }}&amp;page={{page_obj.paginator.num_pages}}" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                        <span class="sr-only">Last</span>
                                    </a>
                                </li>
                            {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
