{% load i18n static %}
<!-- Search Wrapper Area Start -->
<div class="search-wrapper">
    <div class="container-fluid">
        <div class="search-content">
            <form action="{{ basic_search_form_url }}" method="get">
                {{ basic_search_form.q }}
                <button type="submit"><img src="{% static "static_common/img/core-img/search.png" %}" alt=""></button>
            </form>
        </div>
    </div>
</div>
<!-- Search Wrapper Area End -->