{% load i18n static %}
<!-- ##### Single Widget ##### -->
<div class="widget price mb-auto">
    <!-- Widget Title -->
    <h6 class="widget-title">Price</h6>
    <div class="widget-desc">
        <form method="get" action="{% url 'search:faceted' %}">
            {{ faceted_search_form.searchable_price }}
            {{ faceted_search_form.in_stock }} {{ faceted_search_form.in_stock.label }}
            <input type="submit" value="Search" class="btn btn-primary align-right">
        </form>
    </div>
</div>