{% load progressive_tags %}
<!-- Single Catagory -->
<div class="single-products-catagory clearfix">
    <a href="{{ object.get_absolute_url }}">
        {% render_progressive_field object.cover_photo object.cover_photo_caption %}
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <h4>{{ object.name }}</h4>
            <p>{{ object.address }}</p>
        </div>
    </a>
</div>