{% load progressive_tags %}
<!-- Single Catagory -->
<div class="single-products-catagory clearfix">
    <a href="{{ result.object.get_absolute_url }}">
        {% render_progressive_field result.object.cover_photo result.object.cover_photo_caption %}
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <h4>{{ result.object.name }}</h4>
        </div>
    </a>
</div>