{% extends 'structures/base.html' %}
{% block title %}Shopping mall{% endblock title %}
{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "front/css/extra.css" %}">
{% endblock extrastyle %}
{% block content %}
{{ block.super }}
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">
    <div class="amado_product_area section-margin-top-100 section-margin-bottom-20">
        {% for storefront_product in storefront_products %}
            <!-- Product Catagories Area Start -->
            <div class="products-catagories-area clearfix custom-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="products-nav">
                                <h4 class="category">{{ storefront_product.category.name }}</h4>
                                {% with sub_categories=storefront_product.sub_categories %}
                                    {% if sub_categories %}
                                        <ul>
                                            {% for sub_category in sub_categories %}
                                                <li  class="category"><a href="{{ sub_category.get_absolute_url }}">{{ sub_category.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col-md-10 product-bottom">
                            {% with products=storefront_product.products %}
                                {% if products %}
                                    <div class="amado-pro-catagory clearfix">
                                        {% for product in products %}
                                            {% include 'shared/front/product.html' %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product Catagories Area End -->
        {% endfor %}
    </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->
{% endblock content %}

{% block newsletter_subscription %} {{ block.super }} {% endblock newsletter_subscription %}

{% block footer %} {{ block.super }} {% endblock footer %}

{% block javascript %} {{ block.super }} {% endblock javascript %}