{% extends 'structures/base.html' %}
{% block title %}Shopping mall{% endblock title %}
{% load i18n static %}
{% block extrastyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
<link rel="stylesheet" href="{% static "search/css/price-range-slider.css" %}" />
{% endblock extrastyle %}
{% block content %}
{{ block.super }}
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">
    <!-- Product Catagories Area Start -->
    <div class="products-catagories-area section-margin-top-100 section-margin-bottom-50 clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="shop_sidebar_area">
                        {% include 'shared/faceted/search.html' %}
                    </div>
                </div>
                <div class="col-md-10 product-bottom">
                    {% include 'shared/faceted/pagination.html' %}
                    <div class="amado-pro-catagory clearfix">
                        {% for result in page_obj.object_list %}
                            {% include 'shared/result.html' %}
                        {% empty %}
                            We don't have any search result yet!
                        {% endfor %}
                    </div>
                    {% include 'shared/faceted/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
    <!-- Product Catagories Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->
{% endblock content %}

{% block newsletter_subscription %} {{ block.super }} {% endblock newsletter_subscription %}

{% block footer %} {{ block.super }} {% endblock footer %}

{% block javascript %}
{{ block.super }}
<!--Plugin JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
<script type="text/javascript" src="{% static "search/js/price-range-slider.js" %}"></script>
{% endblock javascript %}