{% extends 'structures/base.html' %}
{% block title %}Shopping mall{% endblock title %}
{% load i18n static %}

{% block content %}
{{ block.super }}
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">
    <div class="container">
        This is FAQ page.
    </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->
{% endblock content %}

{% block newsletter_subscription %} {{ block.super }} {% endblock newsletter_subscription %}

{% block footer %} {{ block.super }} {% endblock footer %}

{% block javascript %} {{ block.super }} {% endblock javascript %}