{% load progressive_tags %}
<!-- Single Catagory -->
<div class="single-products-catagory clearfix">
    <a href="{{ product.get_absolute_url }}">
        {% render_progressive_field product.cover_photo product.cover_photo_caption %}
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <p>From {{product.price}}</p>
            <h4>{{ product.name }}</h4>
        </div>
    </a>
</div>