<div class="footer_menu">
    <nav class="navbar navbar-expand-lg justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="footerNavContent">
            <ul class="navbar-nav ml-auto">
                {% load menubuilder %}{% menu footermenu %}
                {% for item in menuitems %}
                    <li class="nav-item {% if item.current %}active{% endif %}"><a href="{{ item.url }}" title="{{ item.title|escape }}" class="nav-link">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>