<!-- Amado Nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-nav-red custom-fixed-top main-nav large">
    <div class="collapse navbar-collapse justify-content-center order-2" id="mainNavbar">
        <ul class="navbar-nav nav-distance">
            {% load menubuilder %}{% menu mainmenu %}
            {% for item in menuitems %}
                <li class="nav-item {% if item.current %}active{% endif %}"><a href="{{ item.url }}" title="{{ item.title|escape }}" class="nav-link">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>