<div class="row">
    <div class="col-12">
        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
            {% if objects.paginator.num_pages > 1 %}
                <!-- Total Products -->
                <div class="total-products">
                    <p>Showing {{ objects.start_index }}-{{ objects.end_index }} of {{ objects.paginator.count}}</p>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Pagination -->
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end">

                            {% if objects.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo; </span>
                                        <span class="sr-only">First</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ objects.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for page_num in objects.paginator.page_range %}
                                {% if page_num > objects.number|add:'-3' and page_num < objects.number|add:'3' %}
                                    <li class="page-item {% if page_num == objects.number %} {{ "active" }} {% endif %}"><a class="page-link" href="?page={{ page_num }}"> {{ page_num }}.</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if objects.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ objects.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{objects.paginator.num_pages}}" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                        <span class="sr-only">Last</span>
                                    </a>
                                </li>
                            {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
            <!-- Sorting -->
            <div class="product-sorting d-flex">
                <div class="sort-by-date d-flex align-items-center mr-15">
                    <p>Sort by</p>
                    <form action="#" method="get">
                        <select name="sort_by" id="sortBydate">
                            <option value="value">Date</option>
                            <option value="value">Newest</option>
                            <option value="value">Popular</option>
                        </select>
                    </form>
                </div>
                <div class="view-product d-flex align-items-center">
                    <p>View</p>
                    <form action="#" method="get">
                        <select name="per_page" id="viewProduct">
                            <option value="value">12</option>
                            <option value="value">24</option>
                            <option value="value">48</option>
                            <option value="value">96</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
