{% extends 'structures/base.html' %}
{% block title %}Shopping mall{% endblock title %}
{% load i18n static %}

{% block content %}
{{ block.super }}
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">
    <!-- Product Catagories Area Start -->
    <div class="products-catagories-area section-margin-top-100 section-margin-bottom-50 clearfix">
        <div class="container-fluid">
            {% include 'shared/pagination.html' %}
            <div class="amado-pro-catagory clearfix">
                {% for object in objects %}
                    {% include 'shared/shops/shop.html' %}
                {% empty %}
                    We don't have any shop listed yet!
                {% endfor %}
            </div>

            {% include 'shared/pagination.html' %}
        </div>
    </div>
    <!-- Product Catagories Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->
{% endblock content %}

{% block newsletter_subscription %} {{ block.super }} {% endblock newsletter_subscription %}

{% block footer %} {{ block.super }} {% endblock footer %}

{% block javascript %} {{ block.super }} {% endblock javascript %}