{% extends 'structures/base.html' %}
{% block title %}Shopping mall{% endblock title %}
{% load i18n static %}

{% block content %}
{{ block.super }}
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">
    <!-- Product Details Area Start -->
    <div class="single-product-area section-margin-100 clearfix">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-50">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Malls</a></li>
                            <li class="breadcrumb-item"><a href="#">Mall name</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop name</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for shop_image in shop.images.all %}
                                    <li class="{% ifequal forloop.counter0 0 %} {{'active'}} {% endifequal %}" data-target="#product_details_slider" data-slide-to="{{ forloop.counter0 }}" style="background-image: url('/media/{{ shop_image.image }}');"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for shop_image in shop.images.all %}
                                <div class="carousel-item {% ifequal forloop.counter0 0 %} {{'active'}} {% endifequal %}">
                                    <a class="gallery_img" href="/media/{{ shop_image.image }}">
                                        <img class="d-block w-100" src="/media/{{ shop_image.image }}" alt=" {{ shop_image.name }} ">
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="shop-name"><h6>{{ shop.name }}</h6></p>
                            <!-- Ratings & Review -->
                            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="review">
                                    <a href="#">Write A Review</a>
                                </div>
                            </div>
                        </div>

                        <div class="short_overview my-5">
                            <p>{{ shop.summary }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Details Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->
{% endblock content %}

{% block newsletter_subscription %} {{ block.super }} {% endblock newsletter_subscription %}

{% block footer %} {{ block.super }} {% endblock footer %}

{% block javascript %} {{ block.super }} {% endblock javascript %}