{% extends 'structures/base.html' %}
{% block title %}Shopping mall{% endblock title %}
{% load i18n static %}

{% block content %}
{{ block.super }}
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">
    <div class="products-catagories-area section-margin-top-100 section-margin-bottom-50 clearfix">
        <div class="container-fluid">
            {% include 'shared/pagination.html' %}
            <div class="row">
                {% for object in objects %}
                <!-- Single Product Area -->
                <div class="col-12 col-sm-3 col-md-12 col-xl-3">
                    {% include 'shared/products/product.html' %}
                </div>
                {% empty %}
                    We don't have any product listed yet!
                {% endfor %}
            </div>

            {% include 'shared/pagination.html' %}
        </div>
    </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->
{% endblock content %}

{% block newsletter_subscription %} {{ block.super }} {% endblock newsletter_subscription %}

{% block footer %} {{ block.super }} {% endblock footer %}

{% block javascript %} {{ block.super }} {% endblock javascript %}